.connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    width: 40%;
    margin: auto;
    padding: 1rem;
    margin-top: 40vh;
    transform: translateY(-50%);
    color: #3771E2;
    position: relative;
}
.imgnote1 {
    position: absolute;
    width:20vh;
    top:28%;
    left:26%;
    z-index:1
}

.imgnote2 {
    position: absolute;
    width:20vh;
    bottom:34%;
    right:25%;
    z-index:1
}

.buttons-co {
    position: absolute;
    right: 1rem;
    top:2rem;
    width: 30vw;
    display: flex;
    justify-content: space-between;
    outline: none;
}

.buttons-co a {
    text-decoration: none;
    outline: none;
}
