.home-img {
    height: 45vw;
    margin-right:5vw;
}

.home {
    display: flex;
    flex-direction: column;
    color: #1f1e1e;
    margin:auto;
}

.home-banner {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: auto;
    padding-top: 2rem;
    height: 90vh;
}

.home hr {
    width: 90%;
    opacity: 0.4;
    background-color: #3771E2;
}

.home h4 {
    font-size:0.9rem;
    margin: 0;
}
.home h3 {
    font-size:1.2rem;
    margin: 0;
}

.home-container {
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 2rem;
    margin: auto;
    padding-bottom: 5rem;
    justify-content: space-around;
    flex-direction: column;
}

.home-info {
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    justify-content: center;
}

.home h1, .home h3 {
    margin-bottom: 1rem;
}

.home-text-one {
    width: 35vw;
    align-self: center;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    justify-content: center;
    text-align: left;
}

.part-one {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

.home-mission {
    margin: auto;
    margin-bottom: 1rem;
}
.check {
    display: flex;
    align-items: center;
    margin: 10px 20px;
}
.check h3 {
    margin: 0;
}
.home-benefits {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.home-benefits img {
    width: 3rem;
}
.part-two {
    display: flex;
    width: 70%;
    justify-content: center;
    padding-left: 2rem;
    margin: auto;
    margin-top: 2rem;
}

.vide {
    height: 2rem;
}

/* css Mobile */
@media screen and (max-width: 768px) {
    .home-banner {
        display: flex;
        flex-direction: column;
        /* justify-content: space-around;
        align-items: flex-end;
        margin: 1rem;
        padding-top: 2rem; */
       
        /* flex-direction: column; */
    }

    .home-img {
        height: 50vw;
        margin-right:5vw;
        margin-bottom:0px;
        height: 45vh;
    

    }

    .part-one {
        width: 300px;
        margin-left: -50px;
}
    
.home-text-one{
    display:flex;
}

.titleHomePage{
    font-size: 32px;
    width:350px;
    margin-left:-80px;
}

.introHomePage{
    font-size: 20px;
    width:350px;
  
}

.home h1, .home h3 {
    margin-bottom: 1rem;
    margin-left:-103px;
}
}