.bot {
    bottom: 0;
    right : 0;
    position: fixed;
    width: 350px;
  }
  
  .btn {
    font-size: 20px;
    float: right;
    width: 50%;
    padding: 8px;
    color: white;
    font-family: 'Roboto', sans-serif; 
    background-color: #143d8f;
  }
  .btn:hover {
    color: #c8e6fe;
  }
  @media screen and (max-width: 768px) {

    .bot{
    bottom: 55px;
    width: 147px;
  }
    .rsc {
      width: 373px;
      margin-left: -229px;
    }
    .home-img {
      width: 46vh;
      margin:auto;
      margin-bottom:-3.5rem
      
    }
    .btn {
      width:50%;
      height: 50%;
      border-radius:50%;
      
    }
  
  }