.RegistrationPatientCTA{
    background-color: #3771E2;
    border-radius:20px;
    border:none;
    color:white;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.4);
    font-size: 100%;
    width: 190px;
    height:60px;
}

.RegistrationPatientCTA:hover{
    background-color: #3771E2;
    border-radius:20px;
    border:none;
    color:white;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2);
    font-size: 100%;
    width: 190px;
    height:60px;
}

.closeModal {
margin-left: 95%;
margin-top: -2%;
font-weight: bolder;
}

.closeModal:hover {
    margin-left: 95%;
    margin-top: -2%;
    color: #3771E2;
    cursor: pointer;
    font-weight: bolder;
    }

.modalTitle {
    text-align: center;
    margin-top:-2%;
    color:#3771E2;
}

label {
    color: #3771E2;
    font-size:12px;
    margin-left:2%;
}

.radioInput {
    display: flex;
    margin-left:2%;
}

.radioValuesLeft {
    font-size: 14px;
    margin-right:5%;
    margin-top:-1%
}

.radioValuesRight {
    font-size: 14px;
    margin-top:-1%
}

input{
    margin-top:2%;
}

input#Age, input#Height, input#Weight, input#Firstname, input#Lastname, input#Email, input#Phone, input#Password {
    width:80%;
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(255, 166, 0, 0);
    border-width: 1.2px;
    height: 30px;
    padding-left:5%;
    padding-right: 5%;
}


input#age:Hover, input#Height:hover, input#Weight:hover, input#Firstname:hover, input#Lastname:hover, input#Email:hover, input#Phone:hover, input#Password:hover {
    width:80%;
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(255, 166, 0, 0);
    border-width: 1.2px;
    height: 30px;
    padding-left:5%;
    padding-right: 5%;
}

.submitCTA {
    width:45%;
    border-radius: 20px;
    background-color: #3770e2de;
    color:white;
    height:45px;
    border:none;
    margin-left:25%;
    margin-top:-20%;
}

.submitCTA:hover {
    width:45%;
    border-radius: 20px;
    background-color: #3771E2;
    color:white;
    height:45px;
    border:none;
    margin-left:25%;
    cursor:pointer;
    margin-top:-20%;
}

.formContainer{
    margin-left:7%;

}

.formMobile{
    display:none;
}

/* css Mobile */
@media screen and (max-width: 768px) {
    .RegistrationPatientCTA{
        background-color: #3771E2;
        border-radius:20px;
        border:none;
        color:white;
        box-shadow: 0 1px 10px 0 rgba(0,0,0,0.4);
        font-size: 100%;
        width: 230px;
        height:60px;
        margin-left: 20%;
    }
    
    .RegistrationPatientCTA:hover{
        background-color: #3771E2;
        border-radius:20px;
        border:none;
        color:white;
        box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2);
        font-size: 100%;
        width: 230px;
        height:60px;
        margin-left: 20%;
    }

    .ReactModal__ContentReact, .Modal__Content--after-open{
            width: 346px;
            margin-left:-28%;
    }

    .formDesktop{
        display:none;
    }
  
.closeMobile {
    margin-top:20px;
}
  

    
}