.text-center {
    display: flex;
    justify-content: center;
    margin-right: 25%;
    margin-left: 25%;
    padding-bottom: 125px;
}
.timeline-wrapper {
    margin-top: 5px;
}

.lotties-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-text h5 {
    margin-bottom: 15px;
}

.timeline-wrapper li {
    background-image: none !important;
}

.button-back, .button-forward {
    display:none
}

/* css Mobile */
@media screen and (max-width: 768px) {

    .events-wrapper{
        width:350px;
        margin-left:-65px;
    }

    .timeline-wrapper {
        margin-left:-130px;
    }

    .text-center{
        width:250px;
        margin-left:190px;
        margin-right:auto;
    }
}